<div class="row">
    <div style="background-color: #240E73; color: white;" class="col-4">
      <h1>Olá, Bem vindo ao meu Site!</h1>
      <div id="simple-list-example" class="d-flex flex-column gap-2 simple-list-example-scrollspy text-center">
        <a style="color: white; font-size: 25px;" class="p-1 rounded" href="#simple-list-item-1">Um pouco sobre mim.</a>
        <a style="color: white; font-size: 25px;" class="p-1 rounded" href="#simple-list-item-2">Principais tecnologias</a>
        <a style="color: white; font-size: 25px;" class="p-1 rounded" href="#simple-list-item-3">Principais projetos</a>
        <a style="color: white; font-size: 25px;" class="p-1 rounded" href="#simple-list-item-4">Entre em contato</a>
      </div>
    </div>
    <div style="background-color: #120640; color: white;" class="col-8">
      <div data-bs-spy="scroll" data-bs-target="#simple-list-example" data-bs-offset="0" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
        <h1 id="simple-list-item-1">Um Pouco Sobre Mim</h1>
        <h4>
            
            Sou natural do Maranhão e possuo uma grande paixão pela a área de exatas, especialemente matematica avançada,
            em 2022, com a crescente fama da área da programação eu percebi que desenvolver projetos sejam eles web,
            games, desktop e entre outros era algo complexo mas possível. Comecei inicialmente pelo Visualg para entender a lógica de programação
            e logo em seguida fui aprender python, já que parecia ser a mais amigável. Com o python eu descobri o mundo da ciência de dados e da 
            programação de jogos, que, desde sempre eu me interessava mas por falta de conhecimento tudo isso parecia inascessível. Hoje em dia eu sou
            aluno de Engenharia de Computação na Universidade Estadual do Maranhão (UEMA), e por meio dela consegui bolsa como desenvolvedor Junior no Instituto Maranhense
            de Estudos Socieconômicos e Cartográficos. Pretendo após o final do curso me tornar professor universitário e pesquisador.

        </h4>
        <hr>
        <h1 id="simple-list-item-2">Principais Tecnologias</h1>
        <h4> 
          Além do conhecimento da linguagem de modo geral, possuo conhecimento nos seguintes frameworks.
          <hr>
          PHP
          <ul class="linked-list-items">
            <li><a target="_blank" href="https://www.php.net/">PHP Web</a></li>
            <li><a target="_blank" href="https://laravel.com/">Laravel</a></li>
          </ul>

          <hr>
          Javascript 
          <ul class="linked-list-items">
            <li><a target="_blank" href="https://pt-br.legacy.reactjs.org/">React</a></li>
            <li><a target="_blank" href="https://ejs.co/">Ejs</a></li>
            <li><a target="_blank" href="https://reactnative.dev/">React Native</a></li>
          </ul>
          
          <hr>
          Python
          <ul class="linked-list-items">
            <li><a target="_blank" href="https://numpy.org/">Numpy</a></li>
            <li><a target="_blank" href="https://pandas.pydata.org/">Pandas</a></li>
            <li><a target="_blank" href="https://scikit-learn.org/stable/index.html">Sklearn</a></li>
            <li><a target="_blank" href="https://keras.io/">Keras</a></li>
            <li><a target="_blank" href="https://seaborn.pydata.org/">Seaborn</a></li>
          </ul>
          <hr>

        </h4>
        <h1 id="simple-list-item-3">Principais Projetos</h1>
        <h4>Você pode encontrar o código e algumas informações a mais no <a href="https://github.com/1PedroGabriel" target="_blank">meu perfil do github</a></h4>
        <hr>
        <h1 id="simple-list-item-4">Entre em contato</h1>
        <h4>
          <ul>
            <li><a href="https://www.linkedin.com/in/pedro-gabriel-moreira-gon%C3%A7alves-199192323113234249123/">Linkedin</a></li>
            <li><a href="https://github.com/1PedroGabriel">Github</a></li>
  
          </ul>
        </h4>
      </div>
    </div>
  </div>