
<div style="margin-bottom: 20px; background-color: #070226; height: 120px; color: white;">
  
  <nav>
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><h2>Dev Pedro Gabriel</h2></a>
  
        </div>
      </div>
    </nav>
</div>